/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  background-color: #f5f7fb;
  color: #333;
  font-family: sans-serif;
  line-height: 1.8;
}

/* --------------------
        セクション
-------------------- */

section {
  margin-bottom: 50px;
}

/* --------------------
        見出し
-------------------- */

h1,
h2,
h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
  padding-bottom: 5px;
}

h1 {
  font-size: 2.5rem;
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

li:before {
  content: "★ ";
  color: var(--theme-color);
}

/* --------------------
        画像
-------------------- */

img {
  width: 250px;
  max-width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* --------------------
          表
-------------------- */

table {
  width: 100%;
  max-width: 700px;
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  background-color: #ffffff;
}

tr:nth-child(2n) {
  background-color: #f9f9f9;
}

th {
  background: var(--theme-color);
  color: #fff;
  width: 30%;
}

th,
td {
  border: solid 1px #f0f0f0;
  padding: 0.8rem;
  text-align: left;
}

/* --------------------
        iframe
-------------------- */

iframe {
  width: 100%;
  max-width: 500px;
  height: 500px;
  border: none;
  border-radius: 12px;
  background-color: white;
  margin-top: 10px;
}

/* --------------------
        フッター
-------------------- */

footer {
  margin-top: 50px;
  text-align: center;
  color: #777;
  font-size: 0.9rem;
}
